{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Détails {% endblock %}


{% block body %}

<div class="row">

    <article>

        <div class="image-card">
            <img src="../../assets/images/poster/{{ event.poster}}" alt="Card image cap">
        </div>

        <div class="gauche1">
            <h3>{{event.name}}</h3>
            {{event.content}}
        </div>

        <div class="gauche2">
            {{event.place.name}} <br>
            Créé le {{event.createdAt | date("d/m/Y") }}
        </div>

        <div class="centre">

            {% if date(event.startAt) <= date() and date(event.endAt) >= date() %}

                <p> en cours <img src="{{asset('assets/images/flags/flag_orange.png/')}}" alt=""></p>

                {% elseif date(event.startAt) > date() %}

                <p> futur <img src="{{asset('assets/images/flags/flag_green.png/')}}" alt=""></p>

                {% else %}

                <p> passé <img src="{{asset('assets/images/flags/flag_red.png/')}}" alt=""></p>

                {% endif %}
        </div>

        <div>
            Début : {{event.startAt | date("d/m/Y") }} <br>
            Fin : {{event.endAt | date("d/m/Y") }} <br>
            <hr>
            PAF : {{event.price }} €
        </div>

        <div class="bouton">
            <a class="btn btn-primary" href="{{ path('events_list') }} "> Liste </a>
        </div>

    </article>

</div>


{% endblock %}