{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Liste {% endblock %}

{% block body %}

<div class="tri">

    <p>En date du {{date | date("d/m/Y") }} : <strong>{{futur_events}} </strong> évènements sont programmés
        prochainement </p>

    <form class="form-inline mt-2 mt-md-0" method="GET" action"{{ path('events_list') }}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="events">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
    <br>

    {# <a href="?sort=price">Trier par prix</a>
    <a href="?sort=date">Trier par date</a> #}

    <form class="form-inline mt-2 mt-md-0" method="GET" action"{{ path('events_list') }}">
        <select name="sort" id="tri">
            <option value=""></option>
            <option value="OrderByprice-ASC"> Par prix (prix décroissant) </option>
            <option value="OrderByDate-ASC"> Par date (plus récente) </option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Trier</button>
    </form> 

</div>

<div class="row">

    {% if events|length > 0 %}

    {% for event in events %}

    <article>

        <div class="image-card">
            <img src="../../assets/images/poster/{{ event.poster}}" alt="Card image cap">
        </div>

        <div class="gauche1">
            <h3>{{event.name}}</h3>
            {{event.content}}
        </div>


        <div class="gauche2">
            {{event.place.name}} <br>
            Créé le {{event.createdAt | date("d/m/Y") }}
        </div>


        <div class="centre">

            {% if date(event.startAt) <= date() and date(event.endAt)>= date() %}

                <p> en cours <img src="{{asset('assets/images/flags/flag_orange.png/')}}" alt=""></p>

                {% elseif date(event.startAt) > date() %}

                <p> futur <img src="{{asset('assets/images/flags/flag_green.png/')}}" alt=""></p>

                {% else %}

                <p> passé <img src="{{asset('assets/images/flags/flag_red.png/')}}" alt=""></p>

                {% endif %}
        </div>

        <div>
            Début : {{event.startAt | date("d/m/Y") }} <br>
            Fin : {{event.endAt | date("d/m/Y") }} <br>
            <hr>
            PAF : {{event.price }} €
        </div>

        <div class="bouton">
            <a class="btn btn-success" href="{{ path('events_display' , {'id': event.id}) }}"> Détails </a>
        </div>

    </article>

    {% endfor %}

    {% endif %}



    {% if events|length == 0 %}

    <div id="no-found" class="alert alert-danger" role="alert">
        Pas de résultats !
    </div>

    {% endif %}



</div>


{% endblock %}